<p class="credits">FacebookExposed is made by:
	<ul style="margin-top: 20px;" class="list-inline">
		<li style="display:block;" class="list-inline-item"><a href="http://datafordemocracy.org" target="_blank"><img src="/assets/images/logo-d4d.png"></a></li>
		<li class="list-inline-item"><a href="http://factualdemocracy.com"><img src="/assets/images/logo-fd.png" target="_blank"></a></li>
		<li class="list-inline-item"><a href="http://newknowledge.io"><img src="/assets/images/logo-nk.png" target="_blank"></a></li>
	</ul>
</p>

<p>
	Additional contributions from <a href="http://www.tristanharris.com/" target="_blank">Tristan Harris</a>. This site was built by <a href="https://twitter.com/botherchou" target="_blank">Andrew Chou</a> and <a href="https://github.com/jss367" target="_blank">Jac Macguire</a>. Reach statistics are from <a href="https://data.world/d1gi/missing-fb-posts-w-share-stats" target="_blank">a dataset created by Jonathan Albright</a>. 
</p>
