  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          Shortened logo
          Copyright / year/ trademark stuff
          <iframe style="border:none;overflow:hidden"
            src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&layout=button&size=small&mobile_iframe=true&width=59&height=20&appId"
            width="59"
            height="20"
            scrolling="no"
            frameborder="0"
            allowTransparency="true">
          </iframe>
          <div>
            <a class="twitter-share-button"
              href="https://twitter.com/share"
              data-size="large"
              data-text="{{ site.description }}"
              data-url="https://dev.twitter.com/web/tweet-button"
              data-hashtags="fakenews,facebook">
              Tweet
            </a>
          </div>
        </div>
        <div class="col-sm-4">
          <p>Used to have privacy and terms</p>
          <a href="{{ site.baseurl }}/about.html">About</a>
        </div>
        <div class="col-sm-4">
          <p>{{ site.description }}</p>
        </div>
      </div>
    </div>
  </footer>