---
# 
---

* {
  box-sizing: border-box;
}

/* sass here */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  font: 10px;
}

body {
  background: #eeeeee;
  color: #45555f;
  font: 400 1.4rem/1.4rem 'Open Sans', April, sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  font: 1rem #e1e1e1;
  background: #981e32;
  display: block;
  min-height: 4.5rem;
  padding: 1rem;
}

.logo,
.logo:hover,
.logo:active {
  text-decoration: none;
  color: #e1e1e1;
}

.container-main {
  flex: 1;
}

.footer {
  background: #555;
  color: #e1e1e1;
  font-size: 1.1rem;
  bottom: 0;
  margin: 10rem 0 0 0;
  padding: 2.5rem 0 20rem 0;
  height: 10rem;
}