---
#
---

@import "https://fonts.googleapis.com/css?family=Open+Sans";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  font: 10px;
}

body {
  background: #eeeeee;
  color: #45555f;
  font: 1.5rem/1.5rem "Open Sans", Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.header {
  color: #e1e1e1;
  background: #981e32;
  padding: 1.5rem 3rem;
}

h2.title {
  text-align: center;
  font-size: 24px;
}

.logo,
.logo:hover,
.logo:active {
  font: 2rem/3rem "Open Sans", Arial, sans-serif;
  color: #e1e1e1;
  text-decoration: none;
  padding: 0;
  margin: auto;
}

.logo strong {
  color: #fff;
}

.container-main {
  flex: 1;
}

.container {
  margin-top: 20px
}

.content {
  max-width: 700px;
  margin: 0px auto;
}

/* propaganda topics */

.interest:hover {
  cursor: pointer;
}

.prop {
  margin-top: 10px;
  background-color: #eeeeee;
  display: none;
}

.footer {
  background: #555;
  color: #e1e1e1;
  font-size: 1.1rem;
  bottom: 0;
  margin: 10rem 0 0 0;
  padding: 2.5rem 0 20rem 0;
  height: 10rem;

  a,
  a:hover,
  a:active {
    text-decoration: none;
    color: #e1e1e1;
    font-weight: bold;
  }
}


.button-wrap {
  text-align: center;
  margin-top: 30px;
}

.collapse-custom {
  display: inline-block;
  max-width: 126px;
  margin-left: 26px;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 10px;
}

.collapse-custom:hover {
    background-color: #333;
    color: #e7e7e7;
    cursor: pointer;
}

.collapse-custom.on {
  background-color: #333;
    color: #e7e7e7;
}



#results {
  margin-top: 30px;
}

/*
.collapse-custom {
    background-color: #e7e7e7; 
    color: #333;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    height: 100px;
}

.collapse-custom:hover {
    background-color: #333;
    color: #e7e7e7;
    cursor: pointer;
}

.collapse-custom.on {
  background-color: #333;
    color: #e7e7e7;
    font-weight: bold;
}
*/

/*
.collapse-custom p {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
}
*/