<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include page-header.html %}
    <div class="container container-main">
      <div>
          
          <div class="image-container-lead">
            <img src="/assets/images/fb-banner.png">
          </div>
          <div class="content">
            <p>Were you fooled by Russian propaganda on Facebook? The answer might surprise you. <a href="https://www.wsj.com/articles/facebook-estimates-10-million-users-saw-russian-backed-ads-1506986355">According to the Wall Street Journal</a>, over <a href="https://www.recode.net/2017/10/30/16571598/read-full-testimony-facebook-twitter-google-congress-russia-election-fake-news">120 million users</a> were exposed to poisonous, manipulative ads in 2016. Facebook ads were only a part of the Russian plan. Russian operatives were relentless in perverting free speech, deceiving Americans on several social media platforms, including <a href="https://www.fastcompany.com/40478430/russia-linked-instagram-facebook-posts-ads-memes-propaganda">Instagram</a>, <a href="https://medium.com/data-for-democracy/crafting-projects-islam-and-russian-propaganda-ccba9a409fb5">Pinterest</a>, and <a href="http://dashboard.securingdemocracy.org/">Twitter</a>. </p>

            <p>Freedom of speech is so fundamental to our country and its history that our founding fathers included it at the very top of the Bill of Rights. Russia is trying to actively corrupt that right. They are trying to use our most sacred values against us.</p>

            <p>Let's be clear: Russia actively targeted Americans. They came after both Democrats and Repulicans with strategies developed by former KGB agents and exectued by hundreds of Russian workers in troll factories. Click the button below that represents your values, and find out how you were targeted.</p>

            {{ content }}
          </div>
      </div>
    </div>
    {% include page-footer.html %}

    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script src="/assets/js/base.js" defer></script>

      <script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
  </body>
</html>
